body{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  margin: 0;
  overflow-x: hidden;
  max-width: 100vw;
}

ul, li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button{
  border: none;
  cursor: pointer;
  border-radius: 3px;
  background-color: transparent;
}

button:disabled{
  cursor: not-allowed;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-1deg);
  }
  75% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes yellowbox {
  50% {
    box-shadow: -1000px 1000px 100px 100px #fbf400 inset,
                1000px -1000px 100px 100px #fbf400 inset;
  }
}

[draggable="true"]{
  cursor: grab;
}

[draggable="true"]:active{
  cursor: grabbing;
}
