<script>
  import { createEventDispatcher } from 'svelte'
  const dispatch = createEventDispatcher()
  export let newParticipantName, participant, listMode = false

  function dragStart (event) {
    // The data we want to make available when the element is dropped
    event.dataTransfer.setData('text/plain', participant.name)
  }
</script>

<div class="participant"
  class:spaced={listMode}
  draggable="true"
  on:dragstart={dragStart}
  class:being-readded={newParticipantName.toLowerCase() === participant.name.toLowerCase()}
  class:volunteered={participant.volunteered}
  title={participant.unavailabilities?.length > 0 ? `unavailabilities: ${participant.unavailabilities.join(',')}` : ''}
  >
  <span class="name">{participant.name}</span>
  {#if listMode}
    <button
      class="remove-participant"
      on:click={() => dispatch('remove')}
      on:keyup={event => event.code === 'Enter' ? dispatch('remove') : null }
      >⨯</button>
  {/if}
</div>

<style>
  .participant{
    margin: 0.2em 0;
    border-radius: 3px;
  }
  .spaced{
    margin: 0.2em;
  }
  .participant{
    padding: 0.2em 0.5em;
    background-color: #319cc2;
    color: white;
    padding: 0.5em;
  }
  .remove-participant{
    padding: 0.2em;
    line-height: 0.8em;
    margin: 0;
    background-color: transparent;
    transition: background-color 0.1s ease;
  }
  .remove-participant:hover, .remove-participant:focus{
    background-color: white;
  }
  .being-readded{
    background-color: #aa00aa;
  }
  .volunteered{
    background-color: seagreen;
  }
</style>
